// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
  @media (max-width: 450px) {
    overflow-x: hidden;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.subtitle {
  font-weight: 900;
  color: $brand-dark;
  font-size: 3rem;
  @media (max-width: 450px) {
    font-size: 2rem;
  }
}

.subtitle--invert {
  color: white;
}

.my-4 {
  color: white;
  border-color: white;
}

.sell-img {
  @media (min-width: 1200px) {
    width: 30%;
    margin-left: 20px;
  }

  @media (max-width: 450px) {
    width: 60px;
  }
}

.sell-img-wrapper {
  @media (max-width: 450px) {
    text-align: center !important;
  }
}
.brand-paragraph {
  font-weight: 300;
  color: $brand-dark;
  font-size: 16px;
  line-height: 22px;

  @media (max-width:450px) {
    padding: 10px;
  }
}

.brand-paragraph--strong {
  font-weight: 600;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.sr-contact-1,
.sr-contact-2 {
  color: #008C82 !important;
}

#calc {
  padding-top: 6rem;
}



#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $primary; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: lighten($primary, 10%); /* Add a dark-grey background on hover */
}

#calc {
  @media (max-width: 450px) {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.grey-background--mobile {
  @media (max-width: 45px){ 
    background: $brand-background;
  }
}

.megan-contact {
  border-radius: 300px;
  width: 200px;

  @media (max-width: 991px) {
    margin-bottom: 25px;
  }
}