// Styling for the services section
.service-box {
  max-width: 400px;
  
}

#services {
  background: $brand-background;
  padding-bottom: 3rem;
  padding-top: 3rem;

  h3 {
    font-weight: 600;
    color: $brand-dark;
    margin-bottom: 1rem;
  }
  img {
    border-radius: 200px;
    margin-bottom: 15px;
  }
}
